{% extends 'base.html' %}
{% load static %}

{% block title %}Select file{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/result_video.css' %}">
  <h2>Select a file to segment</h2>
  <ul style="list-style-type: none; padding-left: 0;">
    {% for file in files %}
      <li style="margin-bottom: 10px;">
        {{ file.filename }}
        <a href="{% url 'segment_file' file.id %}" class="segment-button">Segment</a>
      </li>
    {% endfor %}
  </ul>
{% endblock %}